@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* - Reset Geral - */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  min-height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* - Variáveis - */

:root {
  /* - Cores - */

  --BodyBackgroundColor: #222;
  --ButtonBackgroundColor: #222;
  --ButtonBackgroundColor2: #fff;

  --BodyFontColor: #374151;
  --BorderColor: #000;
  --ButtonTextColor: #fff;
  --ButtonTextColor2: #000;
  --ErrorBackgroundColor: rgb(255, 220, 220);
  --ErrorBorderColor: #8b1e1e;
  --ErrorMessageColor: #8b1e1e;
  --HeaderBackgroundColor: linear-gradient(
    135deg,
    #0f0f14 0%,
    #2a1b3d 20%,
    #4b2e83 40%,
    #6d3fc0 50%,
    #4b2e83 60%,
    #2a1b3d 80%,
    #0f0f14 100%
  );
  --HeaderFontColor: #fff;
  --InputBorderColor: #2c1c4e;
  --PaginationButtonBackgroundColor: linear-gradient(
    135deg,
    #0f0f14 0%,
    #2a1b3d 20%,
    #2a1b3d 80%,
    #0f0f14 100%
  );
  --ProjectBackgroundColor: linear-gradient(
    135deg,
    #000000 0%,
    #333333 20%,
    #7e7e7e 40%,
    #f5f5f5 50%,
    #7e7e7e 60%,
    #333333 80%,
    #000000 100%
  );

  /* - Sombras - */

  --BoxShadow: 0px 0px 10px #6d3fc0;
  --TextShadow: 2px 2px 4px #000;

  /* - Bordas - */

  --Border: 2px solid var(--BorderColor);
  --InputBorder: 3px solid var(--InputBorderColor);
  --ErrorBorder: 2px solid var(--ErrorBorderColor);
  --TaskBorder: 1px solid var(--BorderColor);
  --BorderRadius: 8px;

  /* - Fontes - */

  --BodyTextFontSize: 1.2em;
  --FontWeight: bold;
  --HeaderTextFontSize: 1.5rem;
  --HeaderTitleFontSize: 3rem;
}

/* - Estilo Geral do Projeto - */

html {
  align-items: flex-start;
  background-repeat: no-repeat;
  background: var(--ProjectBackgroundColor);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  line-height: 1.5;
  min-height: 100%;
  width: 100%;
  font-family: "Nunito", sans-serif;
}

.app__container {
  border: var(--Border);
  box-shadow: var(--BoxShadow);
}

/* - Responsividade: Tablet e Celular (768) - */

@media (max-width: 768px) {
  header,
  body {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 12px;
  }

  .todo__h1 {
    font-size: 2.4rem;
    gap: 15px;
  }

  .todo__icon {
    width: 55px;
    height: 55px;
  }

  .todo__input__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;
  }

  .todo__inputerror {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px auto;
    width: 100%;
    max-width: 500px;
  }

  .todo__addbutton {
    width: 100%;
    max-width: 25%;
    height: 48px;
    font-size: 1rem;
    margin-top: 10px;
  }

  .whole__tasklist {
    padding: 15px;
  }

  .individual__task {
    padding: 5px;
    font-size: 0.85rem;
  }

  .task__line__wrapper {
    gap: 8px;
  }

  .edittask__input {
    outline: none;
    border-radius: 8px;
    border: 2px solid #2c1c4e;
    background: #d2b6f1;
    width: 60%;
    box-sizing: border-box;
    padding-left: 3px;
  }

  .tasklist__buttons {
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
  }

  .page__number {
    width: 32px;
    height: 32px;
    font-size: 0.9rem;
  }

  .next__page,
  .previous__page {
    width: 40px;
    height: 40px;
  }
}

/* - Responsividade: Celular (480) - */

@media (max-width: 480px) {
  header,
  body {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 12px;
  }

  .todo__h1 {
    font-size: 1.8rem;
    gap: 8px;
  }

  .todo__icon {
    margin-left: 15px;
    width: 48px;
    height: 48px;
  }

  .todo__row__wrapper {
    width: 100%;
    max-width: 400px;
    height: auto;
    font-size: 1rem;
  }

  .todo__input__wrapper {
    font-size: 1rem;
    padding: 10px;
    max-width: 400px;
  }

  .todo__inputerror {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px auto;
    width: 100%;
    max-width: 400px;
    font-size: 1rem;
  }

  .todo__addbutton {
    width: 100%;
    max-width: 400px;
    height: 48px;
    font-size: 1rem;
    margin: 10px auto;
  }

  .whole__tasklist {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    min-height: auto;
    background: var(--BodyBackgroundColor);
    border-top: 2px solid #555;
    padding: 30px;
    gap: 10px;
  }

  .individual__task {
    padding: 5px;
    font-size: 0.85rem;
  }

  .task__line__wrapper {
    gap: 8px;
  }

  .edittask__input {
    outline: none;
    border-radius: 8px;
    border: 2px solid #2c1c4e;
    background: #d2b6f1;
    width: 60%;
    box-sizing: border-box;
    padding-left: 3px;
  }

  .tasklist__buttons {
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
  }

  .page__number {
    width: 32px;
    height: 32px;
    font-size: 0.9rem;
  }

  .next__page,
  .previous__page {
    width: 40px;
    height: 40px;
  }
}
